SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
nltk==3.8.1
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
scipy
phonemizer
cached-path
gradio
gruut
#tortoise-tts
txtsplit
fastapi
uvicorn